# DAT210x - Programming with Python for DS

## Module2 - Lab5

Import and alias Pandas:

In [57]:
import pandas as pd
import numpy as np

names =  ['id', 'education', 'age', 'capital-gain', 'race', 'capital-loss', 'hours-per-week', 'sex', 'classification']
df = pd.read_csv('Datasets/census.data')
df.columns = names

As per usual, load up the specified dataset, setting appropriate header labels.

In [58]:
df

,id,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,1,Bachelors,50,?,White,0,13,Male,<=50K
1,2,HS-grad,38,?,White,0,40,Male,<=50K
2,3,11th,53,?,Black,0,40,Male,<=50K
3,4,Bachelors,28,0,Black,0,40,Female,<=50K
4,5,Masters,37,0,White,0,40,Female,<=50K
5,6,9th,49,0,Black,0,16,Female,<=50K
6,7,HS-grad,52,0,White,0,45,Male,>50K
7,8,Masters,31,14084,White,0,50,Female,>50K
8,9,Bachelors,42,5178,White,0,40,Male,>50K
9,10,Some-college,37,0,Black,0,80,Male,>50K
10,11,Bachelors,30,0,Asian-Pac-Islander,0,40,Male,>50K
11,12,Bachelors,23,0,White,0,30,Female,<=50K
12,13,7th-8th,34,0,Amer-Indian-Eskimo,0,45,Male,<=50K
13,14,HS-grad,25,0,White,0,35,Male,<=50K
14,15,HS-grad,32,0,White,0,40,Male,<=50K
15,16,11th,38,0,White,0,50,Male,<=50K
16,17,Masters,43,0,White,0,45,Female,>50K
17,18,Doctorate,40,0,White,0,60,Male,>50K
18,19,HS-grad,54,0,Black,0,20,Female,<=50K
19,20,9th,35,0,Black,0,40,Male,<=50K
20,21,11th,43,0,White,2042,40,Male,<=50K
21,22,HS-grad,59,0,White,0,40,Female,<=50K
22,23,Bachelors,56,0,White,0,40,Male,>50K
23,24,HS-grad,19,0,White,0,40,Male,<=50K
24,25,Some-college,54,0,Asian-Pac-Islander,0,60,Male,>50K
25,26,HS-grad,39,0,White,0,80,Male,<=50K
26,27,HS-grad,49,0,White,0,40,Male,<=50K
27,28,Some-college,20,0,Black,0,44,Male,<=50K
28,29,Bachelors,45,0,White,1408,40,Male,<=50K
29,30,Some-college,30,0,White,0,40,Male,<=50K
...,...,...,...,...,...,...,...,...,...
29505,29506,HS-grad,30,0,White,0,55,Male,<=50K
29506,29507,10th,32,0,White,0,40,Male,<=50K
29507,29508,Some-college,22,0,White,0,40,Male,<=50K
29508,29509,HS-grad,31,0,White,0,40,Female,<=50K
29509,29510,HS-grad,29,0,White,0,35,Female,<=50K
29510,29511,Bachelors,35,0,White,0,55,Female,>50K
29511,29512,Bachelors,30,0,Asian-Pac-Islander,0,99,Female,<=50K
29512,29513,Doctorate,34,0,White,0,60,Male,>50K
29513,29514,Bachelors,54,0,Asian-Pac-Islander,0,50,Male,>50K
29514,29515,Some-college,37,0,White,0,39,Female,<=50K
29515,29516,12th,22,0,Black,0,35,Male,<=50K
29516,29517,Bachelors,34,0,White,0,55,Female,>50K
29517,29518,HS-grad,30,0,Black,0,46,Male,<=50K
29518,29519,Bachelors,38,15020,Black,0,45,Female,>50K
29519,29520,Doctorate,71,0,White,0,10,Male,>50K
29520,29521,HS-grad,45,0,White,0,40,Female,<=50K
29521,29522,HS-grad,41,0,Black,0,32,Female,<=50K
29522,29523,HS-grad,72,0,White,0,25,Male,<=50K
29523,29524,Masters,31,0,Other,0,30,Female,<=50K
29524,29525,HS-grad,43,0,White,0,40,Male,<=50K
29525,29526,Some-college,43,0,White,0,40,Female,<=50K
29526,29527,Some-college,43,0,White,0,50,Male,<=50K
29527,29528,10th,32,0,Amer-Indian-Eskimo,0,40,Male,<=50K
29528,29529,Masters,32,0,Asian-Pac-Islander,0,11,Male,<=50K
29529,29530,Masters,53,0,White,0,40,Male,>50K
29530,29531,Some-college,22,0,White,0,40,Male,<=50K
29531,29532,HS-grad,40,0,White,0,40,Male,>50K
29532,29533,HS-grad,58,0,White,0,40,Female,<=50K
29533,29534,HS-grad,22,0,White,0,20,Male,<=50K
29534,29535,HS-grad,52,15024,White,0,40,Female,>50K

Excellent.

Now, use basic pandas commands to look through the dataset. Get a feel for it before proceeding!

Do the data-types of each column reflect the values you see when you look through the data using a text editor / spread sheet program? If you see `object` where you expect to see `int32` or `float64`, that is a good indicator that there might be a string or missing value or erroneous value in the column.

In [59]:
df['capital-gain'] = df['capital-gain'].replace('?',0)

Try use `your_data_frame['your_column'].unique()` or equally, `your_data_frame.your_column.unique()` to see the unique values of each column and identify the rogue values.

If you find any value that should be properly encoded to NaNs, you can convert them either using the `na_values` parameter when loading the dataframe. Or alternatively, use one of the other methods discussed in the reading.

In [60]:
#df
df['capital-gain'] = pd.to_numeric(df['capital-gain'], errors='coerce')
df.dtypes
#df.education.unique()
#df.age.unique()
#df['capital-gain'].unique()  ####
#df['race'].unique()
#df['capital-loss'].unique()
#df['hours-per-week'].unique()
#df['sex'].unique()
#df['classification'].unique()

id                 int64
education         object
age                int64
capital-gain       int64
race              object
capital-loss       int64
hours-per-week     int64
sex               object
classification    object
dtype: object

Look through your data and identify any potential categorical features. Ensure you properly encode any ordinal and nominal types using the methods discussed in the chapter.

Be careful! Some features can be represented as either categorical or continuous (numerical). If you ever get confused, think to yourself what makes more sense generally---to represent such features with a continuous numeric type... or a series of categories?

In [61]:
educationcat = ['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       '7th-8th', 'Doctorate', '5th-6th', '10th', '1st-4th', 'Preschool',
       '12th']

racecat = ['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other']

sexcat = ['Male', 'Female']

classcat = ['<=50K', '>50K']

Lastly, print out your dataframe!

In [26]:
df.shape[0]

29535

In [27]:
df.count(0)

id                29535
education         29535
age               29535
capital-gain      29535
race              29535
capital-loss      29535
hours-per-week    29535
sex               29535
classification    29535
dtype: int64

In [40]:
#df['sex_cat'] = df.sex.astype('category',ordered=True,categories=sexcat).cat.codes
df = pd.get_dummies(df,columns=['race','sex','classification'])

In [32]:
#df['class_cat'] = df.classification.astype('category',ordered=True,categories=classcat).cat.codes

In [41]:
df['education_cat'] = df.education.astype('category',ordered=True,categories=classcat).cat.codes

In [42]:
df

,id,education,age,capital-gain,capital-loss,hours-per-week,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male,classification_<=50K,classification_>50K,education_cat
0,1,Bachelors,50,?,0,13,0,0,0,0,1,0,1,1,0,-1
1,2,HS-grad,38,?,0,40,0,0,0,0,1,0,1,1,0,-1
2,3,11th,53,?,0,40,0,0,1,0,0,0,1,1,0,-1
3,4,Bachelors,28,0,0,40,0,0,1,0,0,1,0,1,0,-1
4,5,Masters,37,0,0,40,0,0,0,0,1,1,0,1,0,-1
5,6,9th,49,0,0,16,0,0,1,0,0,1,0,1,0,-1
6,7,HS-grad,52,0,0,45,0,0,0,0,1,0,1,0,1,-1
7,8,Masters,31,14084,0,50,0,0,0,0,1,1,0,0,1,-1
8,9,Bachelors,42,5178,0,40,0,0,0,0,1,0,1,0,1,-1
9,10,Some-college,37,0,0,80,0,0,1,0,0,0,1,0,1,-1
10,11,Bachelors,30,0,0,40,0,1,0,0,0,0,1,0,1,-1
11,12,Bachelors,23,0,0,30,0,0,0,0,1,1,0,1,0,-1
12,13,7th-8th,34,0,0,45,1,0,0,0,0,0,1,1,0,-1
13,14,HS-grad,25,0,0,35,0,0,0,0,1,0,1,1,0,-1
14,15,HS-grad,32,0,0,40,0,0,0,0,1,0,1,1,0,-1
15,16,11th,38,0,0,50,0,0,0,0,1,0,1,1,0,-1
16,17,Masters,43,0,0,45,0,0,0,0,1,1,0,0,1,-1
17,18,Doctorate,40,0,0,60,0,0,0,0,1,0,1,0,1,-1
18,19,HS-grad,54,0,0,20,0,0,1,0,0,1,0,1,0,-1
19,20,9th,35,0,0,40,0,0,1,0,0,0,1,1,0,-1
20,21,11th,43,0,2042,40,0,0,0,0,1,0,1,1,0,-1
21,22,HS-grad,59,0,0,40,0,0,0,0,1,1,0,1,0,-1
22,23,Bachelors,56,0,0,40,0,0,0,0,1,0,1,0,1,-1
23,24,HS-grad,19,0,0,40,0,0,0,0,1,0,1,1,0,-1
24,25,Some-college,54,0,0,60,0,1,0,0,0,0,1,0,1,-1
25,26,HS-grad,39,0,0,80,0,0,0,0,1,0,1,1,0,-1
26,27,HS-grad,49,0,0,40,0,0,0,0,1,0,1,1,0,-1
27,28,Some-college,20,0,0,44,0,0,1,0,0,0,1,1,0,-1
28,29,Bachelors,45,0,1408,40,0,0,0,0,1,0,1,1,0,-1
29,30,Some-college,30,0,0,40,0,0,0,0,1,0,1,1,0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29505,29506,HS-grad,30,0,0,55,0,0,0,0,1,0,1,1,0,-1
29506,29507,10th,32,0,0,40,0,0,0,0,1,0,1,1,0,-1
29507,29508,Some-college,22,0,0,40,0,0,0,0,1,0,1,1,0,-1
29508,29509,HS-grad,31,0,0,40,0,0,0,0,1,1,0,1,0,-1
29509,29510,HS-grad,29,0,0,35,0,0,0,0,1,1,0,1,0,-1
29510,29511,Bachelors,35,0,0,55,0,0,0,0,1,1,0,0,1,-1
29511,29512,Bachelors,30,0,0,99,0,1,0,0,0,1,0,1,0,-1
29512,29513,Doctorate,34,0,0,60,0,0,0,0,1,0,1,0,1,-1
29513,29514,Bachelors,54,0,0,50,0,1,0,0,0,0,1,0,1,-1
29514,29515,Some-college,37,0,0,39,0,0,0,0,1,1,0,1,0,-1
29515,29516,12th,22,0,0,35,0,0,1,0,0,0,1,1,0,-1
29516,29517,Bachelors,34,0,0,55,0,0,0,0,1,1,0,0,1,-1
29517,29518,HS-grad,30,0,0,46,0,0,1,0,0,0,1,1,0,-1
29518,29519,Bachelors,38,15020,0,45,0,0,1,0,0,1,0,0,1,-1
29519,29520,Doctorate,71,0,0,10,0,0,0,0,1,0,1,0,1,-1
29520,29521,HS-grad,45,0,0,40,0,0,0,0,1,1,0,1,0,-1
29521,29522,HS-grad,41,0,0,32,0,0,1,0,0,1,0,1,0,-1
29522,29523,HS-grad,72,0,0,25,0,0,0,0,1,0,1,1,0,-1
29523,29524,Masters,31,0,0,30,0,0,0,1,0,1,0,1,0,-1
29524,29525,HS-grad,43,0,0,40,0,0,0,0,1,0,1,1,0,-1
29525,29526,Some-college,43,0,0,40,0,0,0,0,1,1,0,1,0,-1
29526,29527,Some-college,43,0,0,50,0,0,0,0,1,0,1,1,0,-1
29527,29528,10th,32,0,0,40,1,0,0,0,0,0,1,1,0,-1
29528,29529,Masters,32,0,0,11,0,1,0,0,0,0,1,1,0,-1
29529,29530,Masters,53,0,0,40,0,0,0,0,1,0,1,0,1,-1
29530,29531,Some-college,22,0,0,40,0,0,0,0,1,0,1,1,0,-1
29531,29532,HS-grad,40,0,0,40,0,0,0,0,1,0,1,0,1,-1
29532,29533,HS-grad,58,0,0,40,0,0,0,0,1,1,0,1,0,-1
29533,29534,HS-grad,22,0,0,20,0,0,0,0,1,0,1,1,0,-1
29534,29535,HS-grad,52,15024,0,40,0,0,0,0,1,1,0,0,1,-1

In [43]:
df.dtypes

id                          int64
education                  object
age                         int64
capital-gain               object
capital-loss                int64
hours-per-week              int64
race_Amer-Indian-Eskimo     uint8
race_Asian-Pac-Islander     uint8
race_Black                  uint8
race_Other                  uint8
race_White                  uint8
sex_Female                  uint8
sex_Male                    uint8
classification_<=50K        uint8
classification_>50K         uint8
education_cat                int8
dtype: object

In [63]:
df[['id']]

          id
0          1
1          2
2          3
3          4
4          5
5          6
6          7
7          8
8          9
9         10
10        11
11        12
12        13
13        14
14        15
15        16
16        17
17        18
18        19
19        20
20        21
21        22
22        23
23        24
24        25
25        26
26        27
27        28
28        29
29        30
...      ...
29505  29506
29506  29507
29507  29508
29508  29509
29509  29510
29510  29511
29511  29512
29512  29513
29513  29514
29514  29515
29515  29516
29516  29517
29517  29518
29518  29519
29519  29520
29520  29521
29521  29522
29522  29523
29523  29524
29524  29525
29525  29526
29526  29527
29527  29528
29528  29529
29529  29530
29530  29531
29531  29532
29532  29533
29533  29534
29534  29535

[29535 rows x 1 columns]

In [66]:
df.loc[0:5,['id','age']]

   id  age
0   1   50
1   2   38
2   3   53
3   4   28
4   5   37
5   6   49

In [67]:
df.loc[0:4,['id','age']]

   id  age
0   1   50
1   2   38
2   3   53
3   4   28
4   5   37